.day {
  padding-bottom: 23px;
}
.day-header {
  font-size: 20px;
  margin-bottom: 22px;
  line-height: 23px;
}
.sessions {
  display: flex;
  gap: 8px;
}
.session {
  font-size: 18px;
  letter-spacing: 0.02em;
  width: 83px;
  height: 43px;
  background: #e8833a;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
