.top-button {
  width: 60px;
  height: 67px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8833a;
  background: #c3cfd9;
  font-size: 40px;
}
